<h1>Editing User</h1>

<%= form_tag url: "/developer/#{@user.id}/upload", method: :post, multipart: true do %>
	<%= file_field_tag "Profile Picture", :image %>
	<%= submit_tag %>
<%end%>

<%= render 'form' %>

<%= link_to 'Show', @user %> 
