<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Omniauth" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "(H)open Source" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'creative', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <script src="https://cdn.supportkit.io/supportkit.min.js"></script>
    <script>SupportKit.init({appToken: '9idmzrr0rqu8pbxv9jyjts92p'});</script>
  </body>
</html>
